USE [master]
GO
/****** Object:  Database [Motorbike]    Script Date: 28/09/2026 1:21:31 CH ******/
CREATE DATABASE [Motorbike]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Motorbike', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Motorbike.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Motorbike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Motorbike_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Motorbike].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Motorbike]
GO
/****** Object:  Table [dbo].[ChiTietDonThue]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonThue](
	[MaDon] [varchar](20) NOT NULL,
	[MaXe] [varchar](20) NOT NULL,
	[DonGiaThue] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC,
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThueXe]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThueXe](
	[MaDon] [varchar](20) NOT NULL,
	[MaKhachHang] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayDat] [datetime2](7) NULL,
	[NgayNhan] [datetime2](7) NOT NULL,
	[NgayTra] [datetime2](7) NOT NULL,
	[CocXe] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](20) NOT NULL,
	[CapDoVIP] [nvarchar](30) NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[CCCD] [char](12) NOT NULL,
	[GPLX] [bit] NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[NgayVaoLam] [date] NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](30) NOT NULL,
	[TrangThai] [nvarchar](30) NULL,
	[NgayTao] [datetime2](7) NULL,
	[DangNhapLanCuoi] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [varchar](20) NOT NULL,
	[MaDon] [varchar](20) NOT NULL,
	[TienCoc] [decimal](18, 2) NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime2](7) NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 28/09/2026 1:21:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](20) NOT NULL,
	[TenXe] [nvarchar](100) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[LoaiXeMay] [nvarchar](50) NOT NULL,
	[PhanKhoi] [smallint] NOT NULL,
	[NamSanXuat] [smallint] NULL,
	[MauSac] [nvarchar](50) NULL,
	[MaLoaiXe] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [ChucVu], [NgayVaoLam], [TrangThai]) VALUES (N'NV001', N'Nguyễn Văn An', CAST(N'1998-05-12' AS Date), N'Nam', N'0901000001', N'an@gmail.com', N'Quản lý', CAST(N'2022-01-10' AS Date), N'Đang làm')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [ChucVu], [NgayVaoLam], [TrangThai]) VALUES (N'NV002', N'Trần Minh Hoàng', CAST(N'2000-08-21' AS Date), N'Nam', N'0901000002', N'hoang@gmail.com', N'Nhân viên tư vấn', CAST(N'2023-03-15' AS Date), N'Đang làm')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [ChucVu], [NgayVaoLam], [TrangThai]) VALUES (N'NV003', N'Lê Thu Hà', CAST(N'2001-02-17' AS Date), N'Nữ', N'0901000003', N'ha@gmail.com', N'Nhân viên thu ngân', CAST(N'2023-06-01' AS Date), N'Đang làm')
GO
INSERT [dbo].[Xe] ([MaXe], [TenXe], [TenHang], [LoaiXeMay], [PhanKhoi], [NamSanXuat], [MauSac], [MaLoaiXe]) VALUES (N'X001', N'Vision', N'Honda', N'Xe tay ga', 110, 2025, N'Đen', N'TG')
INSERT [dbo].[Xe] ([MaXe], [TenXe], [TenHang], [LoaiXeMay], [PhanKhoi], [NamSanXuat], [MauSac], [MaLoaiXe]) VALUES (N'X002', N'Vision', N'Honda', N'Xe tay ga', 110, 2024, N'Trắng', N'TG')
INSERT [dbo].[Xe] ([MaXe], [TenXe], [TenHang], [LoaiXeMay], [PhanKhoi], [NamSanXuat], [MauSac], [MaLoaiXe]) VALUES (N'X003', N'Air Blade 125', N'Honda', N'Xe tay ga', 125, 2025, N'Đỏ đen', N'TG')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAF5C74B3F]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D10534BD3DF665]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A50AC4FD3A]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D105348A2576C7]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A5B939D9E8]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0726560FE]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__77B2CA46B9B49418]    Script Date: 28/09/2026 1:21:31 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonThueXe] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonThueXe] ADD  DEFAULT ((0)) FOR [CocXe]
GO
ALTER TABLE [dbo].[DonThueXe] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonThueXe] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Thường') FOR [CapDoVIP]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [GPLX]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DonThue] FOREIGN KEY([MaDon])
REFERENCES [dbo].[DonThueXe] ([MaDon])
GO
ALTER TABLE [dbo].[ChiTietDonThue] CHECK CONSTRAINT [FK_ChiTiet_DonThue]
GO
ALTER TABLE [dbo].[ChiTietDonThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[ChiTietDonThue] CHECK CONSTRAINT [FK_ChiTiet_Xe]
GO
ALTER TABLE [dbo].[DonThueXe]  WITH CHECK ADD  CONSTRAINT [FK_DonThue_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonThueXe] CHECK CONSTRAINT [FK_DonThue_KhachHang]
GO
ALTER TABLE [dbo].[DonThueXe]  WITH CHECK ADD  CONSTRAINT [FK_DonThue_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[DonThueXe] CHECK CONSTRAINT [FK_DonThue_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_DonThue] FOREIGN KEY([MaDon])
REFERENCES [dbo].[DonThueXe] ([MaDon])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_DonThue]
GO
ALTER TABLE [dbo].[ChiTietDonThue]  WITH CHECK ADD  CONSTRAINT [CK_ChiTiet_DonGia] CHECK  (([DonGiaThue]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonThue] CHECK CONSTRAINT [CK_ChiTiet_DonGia]
GO
ALTER TABLE [dbo].[DonThueXe]  WITH CHECK ADD  CONSTRAINT [CK_DonThue_Ngay] CHECK  (([NgayTra]>=[NgayNhan]))
GO
ALTER TABLE [dbo].[DonThueXe] CHECK CONSTRAINT [CK_DonThue_Ngay]
GO
ALTER TABLE [dbo].[DonThueXe]  WITH CHECK ADD  CONSTRAINT [CK_DonThue_Tien] CHECK  (([CocXe]>=(0) AND [TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DonThueXe] CHECK CONSTRAINT [CK_DonThue_Tien]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_ThanhToan_SoTien] CHECK  (([SoTien]>=(0) AND [TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [CK_ThanhToan_SoTien]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [CK_Xe_NamSanXuat] CHECK  (([NamSanXuat]>=(1990) AND [NamSanXuat]<=(2100)))
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [CK_Xe_NamSanXuat]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [CK_Xe_PhanKhoi] CHECK  (([PhanKhoi]>(0)))
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [CK_Xe_PhanKhoi]
GO
USE [master]
GO
